.container {
    width: 1040px;
    margin: 110px 200px;
}

#image-container {
    width: 600px;
}

#image-container > img {
    border: 1px solid;
    border-radius: 10px;
    width: 400px;
    height: 500px;
}

#product-info {
    width: 440px;
}

#product-name {
    font-size: x-large;
    margin-bottom: 10px;
}

#product-coment {
    font-size: small;
    color: var(--mediumgray);
}

#product-price {
    font-size: x-large;
    font-weight: bold;
    margin: 30px 0px;
}

#delivery {
    width: 100px;
}

#seller {
    width: 100px;
}

#unit {
    width: 100px;
}

#product-weight {
    width: 100px;
}

#product-quantity {
    width: 100px;
}

#count-box {
    width: 330px;
    border: 1px solid;
    border-color: var(--lightgray);
    padding: 5px;
}

#mini-name {
    font-size: small;
}

#total-price {
    font-size: x-large;
    font-weight: bold;
    margin-top: 20px;
    text-align: right;
    margin-bottom: 50px;
}

#button-box {
    width: 440px;
    height: 56px;
}

#pick, #cart {
    color: var(--theme);
    font-weight: bold;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#buy {
    color: white;
    background-color: var(--theme);
    width: 300px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}