* {
  box-sizing: border-box;
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

#find-id-h2,
#find-pw-h2 {
  text-align: center;
}

/* 휴대폰 인증 || 이메일 인증 버튼 */
#find-btn-div {
  margin: auto;
  width: 400px;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

#find-btn-div > button {
  border: none;
  border-bottom: 1px solid #d9d9d9;
  background: none;
  margin: 0;
  padding: 10px 50px;
}

#find-btn-div #find-phone-btn {
  border-bottom: 2px solid black;
}

/* form 설정 */

#find-form {
  width: 500px;
  margin: 0 auto;
}

#find-form * {
  width: 360px;
  height: 40px;
  border-radius: 3px;
  margin: auto;
}

#find-form label {
  display: block;
  margin: 0 0 5px;
  height: max-content;
  font-size: 14px;
  font-weight: 600;
}

#find-phone,
#find-email {
  margin-top: 45px;
}

#find-form input {
  border: 1px solid #d9d9d9;
  padding: 10px;
  margin-top: 5px;
  width: 340px;
}

/* 인증번호 받기 버튼 */
#certify-btn {
  display: block;
  width: 340px;
  margin: 60px 70px;
  border: none;
  background-color: #dddddd;
  color: white;
  font-weight: bolder;
  padding-left: 0;
}
