* {
  box-sizing: border-box;
  text-decoration: none;
}

#login-h2 {
  text-align: center;
}

/* form 설정 */
#login-form {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

#login-form > * {
  width: 350px;
  height: 40px;
  margin-bottom: 12px;
  border-radius: 3px;
}

#login-form > input {
  border: 1px solid #d9d9d9;
  padding: 10px;
}

/* 아이디, 비밀번호 찾기 */
#id-pw {
  text-align: right;
  width: 350px;
  height: 20px;
  margin: 0 auto;
  padding: 0;
  font-size: 12px;
}

/* SNS 로그인 */
ul.sns-login {
  list-style: none;
  width: 100%;
  height: 100%;
  margin: 10px auto 0;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

ul.sns-login li {
  display: inline-block;
  width: 170px;
  height: 30px;
  line-height: 20px;
  font-size: 12px;
  padding: 5px;
}

#kakao {
  background-color: #fee500;
  color: #2a1718;
}

#naver {
  background-color: #00c300;
  color: white;
}

.fa-solid {
  margin-right: 5px;
  display: inline-block;
  width: 10px;
}

/* 로그인, 회원가입 버튼 */
.login-btn {
  background-color: #d9d9d9;
  border: none;
  font-weight: 600;
}

button:hover {
  cursor: pointer;
}
