.goods-list{
    display: flex;
}

.goods{
    width: 230px;
    height: 350px;
    border: 1px solid black;
    padding: 10px;

}

.image{
    width: 230px;
    height: 230px;
}

img{
    width: 230px;
    height: 230px;
    object-fit: cover;
}

.button-wrapper{
    width: 230px;
    height: 30px;
}


button{
    margin-top: 10px;
    height: 36px;
    font-size: 16px;
    line-height: 19px; 
    width: 230px;
    height: 30px;
}

.goods-info{
    margin-top: 10px;

}

.goods-comment{
    margin: 0%;
    font-size: 13px;
    color: #A7B2BC;
}

.dimmed-price{
    font-weight: bold;
}