body {
    width: 1920px;
    text-align: center;
    align-items: center;
    margin: auto;
    justify-content: center;
}
.membership-main {
    background-image: url(../images/Image+Blur.png);
    width: 1920px;
    height: 600px;
    text-align: center;
    margin : auto;
}
#big {
    font-weight: bold;
    color: #baa0d8;
    font-size: 40px;
}
#middle {
    font-weight: bold;
    color: #baa0d8;
    font-size: 30px;
}
#small {
    font-weight: bold;
    font-size: 20px;
}
#verysmall{
    -webkit-flow-into: 18px;
}
#sub-button{
    font-size: 18px;
    background-color: blue;
    color: white;
    width: 200px;
    height: 50px;
    border: 1px white;
    border-radius: 50px;
}
#img-container {
    width: 1200px;
    height: 400px;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    gap: 20px;
}
figure{
    width: 300px;
    height: 300px;
    margin: 0 auto;
}