body {
    width: 1920px;
    text-align: center;
    align-items: center;
    margin: auto;
    justify-content: center;
}
.membership-main {
    width: 1920px;
    height: 600px;
    background-image: url(../images/Image+Blur.png);
    text-align: center;
}
#title {
    margin-top: 100px;
}
#text-box {
align-items: center;
}
.benefit {
color: rgb(78, 78, 78);
font-weight: bold;
margin: 30px auto;
width: 400px;
border-bottom: 1px solid;
border-color: rgb(182, 182, 182);
display: flex;
justify-content: space-between;
}
#big {
font-weight: bold;
color: #baa0d8;
font-size: 40px;
}
.middle {
font-weight: bold;
color: #baa0d8;
font-size: 30px;
}
#benefit-ing {
font-weight: bold;
}
#img-container {
width: 1200px;
height: 400px;
margin: auto;
display: flex;
flex-wrap: nowrap;
align-items: center;
text-align: center;
gap: 20px;
}
figure{
width: 300px;
height: 300px;
margin: 0 auto;
}