p:hover {
    cursor: default;
}

.review-choice-box {
    display: flex;
    align-content: space-between;
    justify-content: center;
    border-radius: 10px;
    width: 100%;
}
.review-choice-box div {
    background-color: #f2f2f2;
    border-radius: 10px;
    border: 1px bold;
    border-style: ridge;
    margin-top: 0px;
    padding: 30px;
    width: 50%;
    text-align: center;
    margin-bottom: 10px;
}
.review-choice-box p {
    font-size: 28px;
    margin: 20px;
}

.review-writeable-page {
    /* width: 850px; */
}

.review-written-page {
    display: none;
    width: 100%;
}

.product-box {
    margin-top : 10px;
    border: 1px #f0f0f0;
    border-style: ridge;
    border-radius : 10px;
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-image {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-right: 20px;
}
.product-details {
    display: flex;
    flex-direction: column;
}

.product-details p {
    margin: 5px 0;
}

.product-details strong {
    display: inline-block;
    width: 100px;
}

.review-box{
    position: relative;
    margin-top : 10px;
    border: 1px #f0f0f0;
    border-style: ridge;
    border-radius : 10px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
}

.review-delete {
    position: absolute;
    top:10px;
    right:10px;
    text-align: center;
    font-size:30px;
    width:30px;
    height:30px;
    border:none;
    border-radius:50%;
    line-height: 30px;
    cursor: pointer;
    background-color: white;
}

.review-title{
    margin-left : 10px;
    width:100%;
}
.review-title p strong{
    font-size : 24px;
}

.review-title p {
    margin-top: 1px;
    margin-bottom: 1px;
}

.category{
    font-weight: lighter ;
}

.star{
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1.3em;
    color : red;
}

.scope{
    font-size: 1.1em;
    vertical-align: bottom;
}

.review-detail{
    width:100%;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.review-description{
    margin-top : 2px;
    margin-left : 10px;
    width : 80%;
}
.description{
    margin-top:2px;
}
.review-image img {width: 100px}

.review-image {
    margin-top : 0px;
    width:10%;
}
.review-update{
    width:10%;
    margin-right: 5px;
    margin-top: 10px;
    margin-left:35px;
}

.review-update button{
    background-color: white;
    border-style : none;
    border-radius: 5px;
    padding:5px;
}